.main--container{
  display: flex;
  flex-direction: column;
  background-color: rgb(180, 180, 180);
}


.content--div {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 50px;
}

.main--content{
  margin-top: 5rem;
  margin-bottom: 100px;
}

.signup-login--container{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  position: sticky;
  height: 83px;
  justify-content: space-between;
  top: 50px;
}

.signup-login--container > button {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

.instagram--post{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 650px;
  height: 650px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
  transition: all 1s;
}

.instagram--post-header{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.header-left{
  display: flex;
  align-items: center;
}


.post--profile-picture{
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  
}

.instagram--post-image{
  height: 100%;
  width: 100%;
  background-color: white;
}

.image{
  height: 470px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.instagram--post-footer{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.interact-row{
  display: flex;
  justify-content: space-between;
}

.your-profile-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.yourprofileinnercontainer{
  display: flex;
}

.yourinfo--footer{
  background-color: white;
  padding: 5px 20px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 960px) {
  .signup-login--container{
    top: 130px;
  }
}

@media screen and (max-width: 960px) {
  .content--div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .signup-login--container{
    position: relative;
    margin: 0;
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 695px) {
  .instagram--post {
    width: 350px;
    height: 500px;
    transition: all 1s;
  }

  .image {
    height: 100%;
  }
}

