.main--container{
  display: flex;
  flex-direction: column;
  background-color: rgb(180, 180, 180);
}


.content--div {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 50px;
}

.main--content{
  margin-top: 5rem;
  margin-bottom: 100px;
}

.signup-login--container{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  position: sticky;
  height: 83px;
  justify-content: space-between;
  top: 50px;
}

.signup-login--container > button {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

.instagram--post{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 650px;
  height: 650px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
  transition: all 1s;
}

.instagram--post-header{
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.header-left{
  display: flex;
  align-items: center;
}

.header-left-text{
  margin-left: 5px;
  font-weight: bold;
}

.user-domain{
  font-size: .9rem;
  color: rgb(192, 181, 181);
}


.post--profile-picture{
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  
}

.instagram--post-image{
  height: 100%;
  width: 100%;
  background-color: white;
}

.image{
  height: 470px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.instagram--post-footer{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.interact-row{
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.heart-comment-share{
  display: flex;
  gap: 5px;
}

.likes{
  font-weight: bold;
  margin-top: 5px;
}

.comments--row{
  margin-top: 2px;
}

.twoComments{
  overflow: hidden;
}

.view-all-comments{
  color: rgba(138, 138, 138, 0.842);
}

.your-profile-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.yourprofileinnercontainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin-bottom: 8px;
}

.yourinfo--footer{
  background-color: white;
  padding: 5px 20px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
}

.yourinfo-container-image{
  height: 80px;
  width: 80px;
}

.yourinfo-image{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

.addacomment-input-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addacomment-input{
  display: flex;
    width: 100%;
    border: none;
    height: 25px;
    font-size: 1rem;
}

.addacomment-input:focus{
  text-indent: 1rem;
}

@media screen and (min-width: 961px) {
  .signup-login--container{
    top: 130px;
  }
}

.post{
  cursor: pointer;
}



@media screen and (max-width: 960px) {
  .content--div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .signup-login--container{
    position: relative;
    margin: 0;
  }
}

@media screen and (max-width: 695px) {
  .instagram--post {
    width: 350px;
    height: 500px;
    transition: all 1s;
  }

  .image {
    height: 100%;
  }
}

