.signup--main{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.signup--content-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.signup--content-inner-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0);
  height: 600px;
  width: 450px;
  border-radius: 45px;
  margin-bottom: -48rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
  justify-content: space-evenly;
}

.signup--input{
  position: relative;
  display: flex;
  align-items: center;
}

.signup--text{
  color: rgb(66, 65, 65);
  font-size: .9rem;
}

.instagram-logo{
  align-self: center;
  width: 50px;
  height: 50px;
}

.input--at{
  position: absolute;
  left: 10px;
  font-size: 1.3rem;
  width: 34px;
  color: rgba(0, 0, 0, 0.288);
  border-right: 1px solid rgba(0, 0, 0, 0.288);
}

.input-username{
  height: 40px;
  width: 300px;
  border-radius: 25px;
  text-indent: 50px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-size: 1.3rem;
}

.limit-range-text{
  color: gray;
  font-size: .8rem;
}

.logo-text-div {
  margin-bottom: -50px
}

.input--text-div {
  margin-bottom: -55px
} 

.button--container>button {
  margin-bottom: 15px;
} 

.error{
  border: 1px solid red !important;
}



@media screen and (max-width: 960px) {
  .signup--content-inner-div{
    height: 100%;
    width: 100%;
    border-radius: 0;
    justify-content: center;
    
  }

  .logo-text-div {
    margin-bottom: 115px
  }

  .input--text-div {
    margin-top: -25px;
    margin-bottom: 45px
  }
  
  .button--container{
    margin-bottom: -100px;
  }

  .button--container > button {
    margin-bottom: 15px;
  }

}