.createUserProfile--Container{
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  width: 100vw;
}

body{
  background-color: rgb(241, 241, 241);
}

.headerimage--container{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 365px;
}

.user-header-background-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-pic--interact-share{
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 180px;
  justify-content: space-between;
}

.profilePictureContainer{
  height: 205px;
  width: 205px;
}

.profile-picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.interact-share--container{
  display: flex;
}

.userbottom--half-container{
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.moreuserinformationo--posts--container{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 275px;
  align-self: flex-start;
  margin-right: 10%;
  white-space: nowrap;
}

.userinformation--container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 255px;
}

.userprofile--domain{
  font-size: 1.3rem;
  color: gray;
  margin-top: -8px;
}


.amount-of-posts{
  display: flex;
  align-items: center;
}

.posts--main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  margin-bottom: 100px;
}

.postpreview--main-container{
  width: 300px;
  height: 300px;
}

.postpreview-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.post-text{
  color: gray;
}

.larger{
  font-size: 1.2rem;
}

.large{
  font-weight: bolder;
  font-size: 1.3rem;
  margin-right: 5px;
}


@media screen and (max-width: 680px){
  .userbottom--half-container{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    width: min-content;
  }
  .moreuserinformationo--posts--container{
    text-align: center;
  }
  .amount-of-posts{
    justify-content: center;
  }

  .profile-pic--interact-share{
    flex-direction: column;
    margin-left: 35px;
  }
}