.createUserProfile--Container{
  /* background-color: rgb(241, 241, 241); */
}

.headerimage--container{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 365px;
}

.user-header-background-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-pic--interact-share{
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 200px;
  justify-content: space-between;
}

.profilePictureContainer{
  height: 205px;
  width: 205px;
}

.profile-picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.interact-share--container{
  display: flex;
}

.userbottom--half-container{
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.moreuserinformationo--posts--container{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 275px;
}

.userinformation--container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 255px;
}

.userprofile--domain{
  font-size: 1.3rem;
  color: gray;
  margin-top: -8px;
}


.amount-of-posts{
  display: flex;
  align-items: center;
}

.post-text{
  color: gray;
}

.larger{
  font-size: 1.2rem;
}

.large{
  font-weight: bolder;
  font-size: 1.3rem;
  margin-right: 5px;
}
