:root {
  --primary: #fff;
}

.navbar--container{
  display: flex;
  width: 100vw;
  height: 100px;
  background-color: var(--primary);
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
}

.logo-container{
  display: flex;
  height: 100%;
  width: max-content;
  font-size: 1.0rem;
  align-items: center;
  flex: 1;
  justify-content: center;
  min-width: 210px;
}

.logo--group{
  display: flex;
  cursor: pointer;
  gap: 3px;
  align-items: center;
}

.logo--image{
  object-fit: contain;
  width: 35px;
  height: 35px;
}

.searchbox--container{
  display: flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  flex: 2;
}

.search--input{
  height: 25px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid gray;
}

.search--input:focus{
  width: 300px;
  height: 30px;
  text-indent: 15px;
  text-align: left;
  transition: all 0.5s;
  border: 1px solid gray;
}

.buttons-container{
  display: flex;
  flex: 1;
  justify-content: center;
}

.buttons-ul{
  display: flex;
  list-style: none;
  gap: 15px;
  height: 100%;
}

.buttons-ul > li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  align-items: center;
}

.mobile--container{
  display: flex;
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
}


@media screen and (max-width: 960px) {

  .buttons-ul{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.671);
  }

  .buttons-ul>li:hover {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.493);
      transition: all .2s;
    }

  .searchbox--container {
    flex: 1;
  }

  .search--input:focus {
    width: 70%;
  }

  .buttons-ul{
    align-items: center;
    vertical-align: middle;
    width: 100%;
  }
}